.header {
  color: rgb(84, 160, 135);
  text-align: center;
  border-bottom: 1.5px solid rgb(84, 160, 135);
  padding: auto auto 2em auto;
}
.form-container {
  width: 45%;
  border: 1.5px solid rgb(84, 160, 135);
  text-align: center;
  margin: auto;
}
